.about {
	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 80px 0 100px;
	}
	&__left {
		width: 50%;
	}
		&__img {
		position: relative;
		top: 50%;
		left: 30%;
		max-width: 100%;
		height: auto;
		background-size: cover;
	}
	&__right {
		width: 50%;
	}
	&__title {
		font-size: 35px;
		width: 51%;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0.06em;
		color: #545454;
	}
	&__text {
		font-family: 'Arial';
		font-size: 15px;
		color: #4C4C4C;
		width: 71%;
		margin-top: 25px;
		font-weight: 400;
		line-height: 160%;
	}
}




