.about {
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__left {
		margin-left: 15%;
	}

		&__img {
		height: auto;
		background-size: cover;
	}
	
	&__right {
		margin: 0 0 0 10.3%;
	}

	&__text {
		width: 71.3%;
		font-family: 'Arial';
		font-size: 0.9375rem;
		color: #4C4C4C;
		margin-top: 25px;
		font-weight: 400;
		line-height: 160%;
	}
}




