@media screen and (max-width: 1279px) {
	.ourPets {
		&__slider {
			height: 1400px;
			justify-content: center;
		}
	}
}// end @media screen and (max-width: 1280px)


@media screen and (max-width: 1112px) {
	.ourFriends {
		&__items-position {
			flex-wrap: wrap;
		}
		&__items-position {
			width: 581px;
		}
	}

	.help__list {
		gap: 51px 90px;
	}

	.footer__contacts {
		margin-right: 8%;
	}
} // end @media screen and (max-width: 1120px)


@media screen and (max-width: 1000px) {
	.about__left {
		margin-left: 10%;
	}

	.help__list {
		gap: 51px 67px;
	}

	.inAddition {
		&__img {
			margin-left: -40px;
		}
		&__content {
			gap: 0 20px;
		}
	}

	.footer {
		&__position {
			flex-wrap: wrap;
		}
		&__content {
			width: 100%;
			justify-content: space-around;
			margin: 0 32px 3px;
		}
		&__img-block {
			width: 100%;
			text-align: center;
		}
	}

	.ourPets__slider {
		column-gap: 36px;
	}
} // end @media screen and (max-width: 1000px)


@media screen and (max-width: 960px) {
	.inAddition {
		&__content {
			flex-direction: column;
		}
		&__img {
			order: 2;
			margin-left: 2.3%;
		}
		&__right {
			width: 51%;
			order: 1;
			margin: 0 0 60px 0;
		}
	}

	.ourPets {
		&__title {
			margin-bottom: 28px;
		}
		&__slider {
			height: 1395px;
			overflow: hidden;
			justify-content: center;
		}
	}

	.nav {
		margin: 10px auto 0;
	}
}// end @media screen and (max-width: 960px)


@media screen and (max-width: 900px) {
	.about {
		&__left {
			margin-left: 8%;
		}
		&__text {
			width: 90%;
		}
	}

	.help {
		&__item {
			width: 26.333%;
		}
		&__list {
			gap: 51px 44px;
		}
	}
} // end @media screen and (max-width: 900px)


@media screen and (max-width: 800px) {
	.container {
		padding: 0 30px;
	}
	.about__left {
		margin-left: 5%;
	}
} // end @media screen and (max-width: 800px)


@media screen and (max-width: 768px) {
	.container {
		padding: 0 30px;
	}
		//=== StartScreen =====
	.start__screen {
	&-display {
		display: block;
	}
	&__left {
		width: 65%;
		margin: 0 18.05% 105px;
	}
	&-text {
		margin-bottom: 45px;
	}
	&-btn {
		margin: 0 auto;
	}
	&__img {
		width: 80%;
		margin: 0 0 0 20%;
		height: auto;
		vertical-align:bottom
	}
	} //=== end StartScreen =====

	//=== About =====
	.about {
		&__content {
		display: flex;
		flex-direction: column;
		}

		&__left {
			order: 2;
			margin-left: 0;
		}

		&__right {
			order: 1;
			margin: 0 20% 80px;
		}

		&__text {
			width: 100%;
		}
	} //=== end About =====

	.ourFriends {
		&__slider {
			flex-wrap: wrap;
		}

		&__arrow {
			margin-top: 20px;
		}

		&__arrow-left {
			order: 1;
			margin-left: 58px;
		}

		&__arrow-right {
			order: 2;
			margin-right: 58px;
		}

		&__items-position {
			width: 655px;
			justify-content: space-around;
			margin: 0 auto;
		}
	}
}// end @media screen and (max-width: 768px)


@media screen and (max-width: 710px) {
	.menu {
		&__item {
			margin-right: 18px;
		}
	}
}// end @media screen and (max-width: 710px)

@media screen and (max-width: 670px) {
	.menu {
		display: none;
	}

	// Burger menu
	.menu__icon {
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		margin-top: 11px;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 10%;
			width: 100%;
			border-radius: 10px;
			background-color: #F1CDB3;
		}

		.span__burger1 {
			position: absolute;
			top: 35%;
			left: 0;
			height: 10%;
			width: 100%;
			border-radius: 10px;
			background-color: #F1CDB3;
			transform: scale(1) translate(0,-35%);
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 25%;
			height: 10%;
			width: 100%;
			border-radius: 10px;
			background-color: #F1CDB3;
		}// .Burger menu
	}

	.start__screen {
		&__title {
			width: 100%;
		}
	}

	.about {
		&__right {
			margin: 0 13% 80px;
		}
	}
}// end @media screen and (max-width: 670px)


@media screen and (max-width: 420px) {
	.start__screen {
		&__left {
			width: 75%;
			margin: 0 12.05% 105px;
		}
	}

	.about {
		&__right {
			margin: 0 5% 80px;
		}
	}
}// end @media screen and (max-width: 420px)


@media screen and (max-width: 376px) {
	.container {
		padding: 0 10px;
	}

	.marginBlockDef {
		padding: 40px 0;
	}

	.defaultTitle {
		font-size: 1.56rem;
	}

	.header__wrapper {
		margin: 0 10px 0 0;
	}

	.start__screen {
		&__left {
			width: 100%;
			margin: 0 auto 105px;
			text-align: center;
		}
		&__title {
			font-size: 1.56rem;
			letter-spacing: 0.06em;
			padding: 0 50px;
		}
		&__img {
			width: 87%;
			margin: 0 0 0 13%;
		}
	}

	.about {
		&__content {
			text-align: center;
		}
		&__img {
			max-width: 260px;
		}
		&__right {
			width: 100%;
			margin: 0 0 40px;
		}
	}

	.ourFriends {
		&__slider {
			margin: -18px 0 54px 0;
		}
	}
}// end @media screen and (max-width: 375px)