.footer {
	background: url("../../../img/header__startScreen/background__start.png"), linear-gradient(130deg, rgba(91, 72, 58, 1), rgba(38, 36, 37, 1), rgba(33, 31, 32, 1));
	&__position {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__content {
		display: flex;
		align-items: center;
		width: 75%;
		padding: 15px 0 50px;
	}

	&__contacts {
		margin-right: 18%;
	}

	&__title {
		font-size: 2.18rem;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0.06em;
		color: #fff;
	}

	&__linkEmail {
		width: 251px;
		margin: 2.9rem 0;
	}
	
	&__phone {
		width: 239px;
	}

	&__map {
		width: 302px;
		margin: 2.5rem 0;
		&:last-child {
			margin-bottom: 0px;
		}
	}

	&__img-block {
		min-width: 25%;
	}

	&__img {
		max-width: 100%;
		max-height: 92.2%;
		vertical-align: bottom;
		background-size: cover;
	}
}



















