.footer {
	background: url("../../../img/header__startScreen/background__start.png"), linear-gradient(130deg, rgba(91, 72, 58, 1), rgba(38, 36, 37, 1), rgba(33, 31, 32, 1));
}

.footer__position {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 40px;
}

.footer__content {
	width: 62%;
	display: flex;
	justify-content: space-between;
}

.footer__contacts {
	width: 40%;
}

.footer__title {
	width: 278px;
	font-size: 2.18rem;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.06em;
	color: #fff;
	margin-bottom: 40px;
}

.footer__linkEmail {
	width: 251px;
	margin-bottom: 40px;
}

.footer__phone {
	width: 239px;
}

.footer__location {
	width: 40.5%;
}

.footer__map {
	width: 300px;
	margin-bottom: 32px;
}

.footer__img-block {
	min-width: 25%;
}

.footer__img {
	max-width: 300px;
	vertical-align: bottom;
	background-size: cover;
}



















