.help {
	&__title {
		text-align: center;
		margin-bottom: 60px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 51px 120px;
		justify-content: center;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__img {
			max-height: 50px;
			margin-bottom: 30px;
			background-size: cover;
			max-width: 100%;
		}
		&__title {
			font-size: 1.25rem;
			text-align: center;
			line-height: 115%;
			letter-spacing: 0.06em;
			font-weight: 400;
		}
	}
}







