.inAddition {
	background-color: #F6F6F6;
	&__content {
		width: 100%;
		display: flex;
		gap: 0 30px;
		justify-content: center;
		align-items: center;
	}

	&__img {
		max-width: 100%;
		height: auto;
		background-size: cover;
	}

	&__right {
		width: 35%;
	}

	&__subtitle {
		font-size: 0.9375rem;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 0.06em;
		margin: 20px 0;
	}

	&__card {
		display: inline-block;
		background-color: #F1CDB3;
		color: #545454;
		width: 349px;
		height: 43px;
		border-radius: 9px;
		margin-bottom: 20px;
		cursor: pointer;
		&:hover {
			background-color: #FDDCC4;
			transition: 0.3s;
		}
		&__content {
			display: flex;
			width: 100%;
			padding: 10px 15px;
		}
		&__num {
			font-size: 1.25rem;
			font-weight: 400;
			line-height: 1.43rem;
			letter-spacing: 0.06em;
			margin-left: 14px;
		}
	}
	&__text {
		font-family: Arial;
		max-width: 100%;
		font-size: 0.75rem;
		font-style: italic;
		font-weight: 400;
		line-height: 1.125rem;
		color: #B2B2B2;
	}
}





