.ourFriends {
	background-color: #F6F6F6;

	&__content {
		text-align: center;
	}

	&__title {
		margin: 0 auto 60px;
	}

	&__slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 75px;
	}

	&__arrow {
		border: 3px solid #F1CDB3;
		padding: 21px 17px;
		border-radius: 100px;
		cursor: pointer;
		&:hover {
			background-color: #F1CDB3;
			transition: 0.3s;
		}
	}

	&__items-position {
		display: flex;
		gap: 0 20px;
		width: 82.3%;
		height: 435px;
		justify-content: space-between;
		overflow: hidden;
	}
	
	&__item {
		min-width: 270px;
		border-radius: 9px;
		text-align: center;
		background-color: #FAFAFA;
		&:hover {
			background-color: #fff;
			transition: 0.3s;
		}
		&:hover &__btn {
			background-color: #FDDCC4;
			transition: 0.3s;
		}

		&__img {
			max-width: 100%;
			height: auto;
			background-size: cover;
		}

		&__title {
			font-size: 1.25rem;
			line-height: 23px;
			letter-spacing: 0.06em;
			margin: 28px 0;
		}

		&__btn {
			font-size: 1.06rem;
			line-height: 22px;
			letter-spacing: 0.06em;
			padding: 15px 45px;
			margin-bottom: 30px;
			background-color: #FAFAFA;
			border: 2px solid #FDDCC4;
			border-radius: 100px;
		}
	}

	&__btn {
		font-size: 1.06rem;
		line-height: 130%;
		letter-spacing: 0.06em;
		width: 265px;
		padding: 15px 45px;
		background-color: #F1CDB3;
		color: #292929;
		border-radius: 100px;
		&:hover {
		background-color: #FDDCC4;
		transition: 0.3s;
		}
	}
}




















