.start__screen {
	background: url("../../../img/header__startScreen/background__start.png"), linear-gradient(145deg, rgba(91, 72, 58, 1), rgba(38, 36, 37, 1), rgba(33, 31, 32, 1));
	&__content {
		padding-top: 60px;
	}

	&-display {
		display: flex;
		align-items: center;
	}

	&__left {
		width: 39%;
		margin: -45px 40px 0 7px;
	}

	&__title {
		font-size: 2.75rem;
		font-weight: 400;
		width: 85%;
		line-height: 130%;
		margin-bottom: 42px;
		color: #fff;
	}

	&-text {
		margin-bottom: 42px;
		font-size: 0.94rem;
		line-height: 160%;
		font-family: 'Arial';
		color: #CDCDCD;
	}

	&-btn {
		display: block;
		width: 207px;
		padding: 15px 40px;
		border-radius: 100px;
		letter-spacing: 0.06em;
		font-size: 17px;
		text-align: center;
		color: #292929;
		background-color: #F1CDB3;
		&:hover {
		background-color: #FDDCC4;
		transition: 0.3s;
		}
	}
	
	&__img {
		max-width: 100%;
		height: auto;
		margin-top: 34px;
		vertical-align:bottom
	}
}










