html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, sans-serif;
  line-height: 1;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

p {
  width: auto;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.marginBlockDef {
  padding: 80px 0 100px;
}

.defaultTitle {
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.deg {
  transform: rotate(180deg);
}

.footerBlockDef {
  margin-top: 17px;
}

.footerPosDef {
  display: flex;
  align-items: center;
  color: #F1CDB3;
}

.footerStyleDef {
  margin-left: 1.2rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.header {
  padding-top: 29px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-align: center;
  width: 200px;
  height: 60px;
}
.header__title {
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  font-weight: 400;
  color: #F1CDB3;
  margin-bottom: 11px;
}
.header__title_mainPets-color a {
  color: #545454;
}
.header__subtitle {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.1em;
}
.header__subtitle_mainPets-color a {
  color: #292929;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 33px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_mainPets-color {
  color: #545454;
}
.menu__link {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #cdcdcd;
}
.menu__link:hover {
  color: #FAFAFA;
  transition: 0.3s;
}
.menu__link_mainPets-color {
  color: #545454;
}
.menu__link_mainPets-color:hover {
  color: #292929;
  transition: 0.3s;
}

.menu__icon {
  display: none;
}

.active {
  position: relative;
  color: #FAFAFA;
}
.active:after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 3px;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.active_mainPets-color {
  color: #292929;
}

.start__screen {
  background: url("../../../img/header__startScreen/background__start.png"), linear-gradient(145deg, rgb(91, 72, 58), rgb(38, 36, 37), rgb(33, 31, 32));
}
.start__screen__content {
  padding-top: 60px;
}
.start__screen-display {
  display: flex;
  align-items: center;
}
.start__screen__left {
  width: 39%;
  margin: -45px 40px 0 7px;
}
.start__screen__title {
  font-size: 2.75rem;
  font-weight: 400;
  width: 85%;
  line-height: 130%;
  margin-bottom: 42px;
  color: #fff;
}
.start__screen-text {
  margin-bottom: 42px;
  font-size: 0.94rem;
  line-height: 160%;
  font-family: "Arial";
  color: #CDCDCD;
}
.start__screen-btn {
  display: block;
  width: 207px;
  padding: 15px 40px;
  border-radius: 100px;
  letter-spacing: 0.06em;
  font-size: 17px;
  text-align: center;
  color: #292929;
  background-color: #F1CDB3;
}
.start__screen-btn:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}
.start__screen__img {
  max-width: 100%;
  height: auto;
  margin-top: 34px;
  vertical-align: bottom;
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__left {
  margin-left: 15%;
}
.about__img {
  height: auto;
  background-size: cover;
}
.about__right {
  margin: 0 0 0 10.3%;
}
.about__text {
  width: 71.3%;
  font-family: "Arial";
  font-size: 0.9375rem;
  color: #4C4C4C;
  margin-top: 25px;
  font-weight: 400;
  line-height: 160%;
}

.ourFriends {
  background-color: #F6F6F6;
}
.ourFriends__content {
  text-align: center;
}
.ourFriends__title {
  margin: 0 auto 60px;
}
.ourFriends__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}
.ourFriends__arrow {
  border: 3px solid #F1CDB3;
  padding: 21px 17px;
  border-radius: 100px;
  cursor: pointer;
}
.ourFriends__arrow:hover {
  background-color: #F1CDB3;
  transition: 0.3s;
}
.ourFriends__items-position {
  display: flex;
  gap: 0 20px;
  width: 82.3%;
  height: 435px;
  justify-content: space-between;
  overflow: hidden;
}
.ourFriends__item {
  min-width: 270px;
  border-radius: 9px;
  text-align: center;
  background-color: #FAFAFA;
}
.ourFriends__item:hover {
  background-color: #fff;
  transition: 0.3s;
}
.ourFriends__item:hover .ourFriends__item__btn {
  background-color: #FDDCC4;
  transition: 0.3s;
}
.ourFriends__item__img {
  max-width: 100%;
  height: auto;
  background-size: cover;
}
.ourFriends__item__title {
  font-size: 1.25rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 28px 0;
}
.ourFriends__item__btn {
  font-size: 1.06rem;
  line-height: 22px;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  margin-bottom: 30px;
  background-color: #FAFAFA;
  border: 2px solid #FDDCC4;
  border-radius: 100px;
}
.ourFriends__btn {
  font-size: 1.06rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 265px;
  padding: 15px 45px;
  background-color: #F1CDB3;
  color: #292929;
  border-radius: 100px;
}
.ourFriends__btn:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}

.help__title {
  text-align: center;
  margin-bottom: 60px;
}
.help__list {
  display: flex;
  flex-wrap: wrap;
  gap: 51px 120px;
  justify-content: center;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__item__img {
  margin-bottom: 30px;
  background-size: cover;
  max-width: 100%;
}
.help__item__title {
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-weight: 400;
}

.inAddition {
  background-color: #F6F6F6;
}
.inAddition__content {
  width: 100%;
  display: flex;
  gap: 0 30px;
  justify-content: center;
  align-items: center;
}
.inAddition__img {
  max-width: 100%;
  height: auto;
  background-size: cover;
}
.inAddition__right {
  width: 35%;
}
.inAddition__subtitle {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 20px 0;
}
.inAddition__card {
  display: inline-block;
  background-color: #F1CDB3;
  color: #545454;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  margin-bottom: 20px;
  cursor: pointer;
}
.inAddition__card:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}
.inAddition__card__content {
  display: flex;
  width: 100%;
  padding: 10px 15px;
}
.inAddition__card__num {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.43rem;
  letter-spacing: 0.06em;
  margin-left: 14px;
}
.inAddition__text {
  font-family: Arial;
  width: 361px;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.125rem;
  color: #B2B2B2;
}

.footer {
  background: url("../../../img/header__startScreen/background__start.png"), linear-gradient(130deg, rgb(91, 72, 58), rgb(38, 36, 37), rgb(33, 31, 32));
}
.footer__position {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__content {
  display: flex;
  align-items: center;
  width: 75%;
  padding: 15px 0 50px;
}
.footer__contacts {
  margin-right: 18%;
}
.footer__title {
  font-size: 2.18rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #fff;
}
.footer__linkEmail {
  width: 251px;
  margin: 2.9rem 0;
}
.footer__phone {
  width: 239px;
}
.footer__map {
  width: 302px;
  margin: 2.5rem 0;
}
.footer__map:last-child {
  margin-bottom: 0px;
}
.footer__img-block {
  min-width: 25%;
}
.footer__img {
  max-width: 100%;
  max-height: 92.2%;
  vertical-align: bottom;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .ourPets__slider {
    height: 1400px;
    justify-content: center;
  }
}
@media screen and (max-width: 1112px) {
  .ourFriends__items-position {
    flex-wrap: wrap;
  }
  .ourFriends__items-position {
    width: 581px;
  }
  .help__list {
    gap: 51px 90px;
  }
  .footer__contacts {
    margin-right: 8%;
  }
}
@media screen and (max-width: 1000px) {
  .about__left {
    margin-left: 10%;
  }
  .help__list {
    gap: 51px 67px;
  }
  .inAddition__img {
    margin-left: -40px;
  }
  .inAddition__content {
    gap: 0 20px;
  }
  .footer__position {
    flex-wrap: wrap;
  }
  .footer__content {
    width: 100%;
    justify-content: space-around;
    margin: 0 32px 3px;
  }
  .footer__img-block {
    width: 100%;
    text-align: center;
  }
  .ourPets__slider {
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
@media screen and (max-width: 960px) {
  .inAddition__content {
    flex-direction: column;
  }
  .inAddition__img {
    order: 2;
    margin-left: 2.3%;
  }
  .inAddition__right {
    width: 51%;
    order: 1;
    margin: 0 0 60px 0;
  }
  .ourPets__title {
    margin-bottom: 28px;
  }
  .ourPets__slider {
    height: 1395px;
    overflow: hidden;
    justify-content: center;
  }
  .nav {
    margin: 10px auto 0;
  }
}
@media screen and (max-width: 900px) {
  .about__left {
    margin-left: 8%;
  }
  .about__text {
    width: 90%;
  }
  .help__item {
    width: 26.333%;
  }
  .help__list {
    gap: 51px 44px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding: 0 30px;
  }
  .about__left {
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .start__screen-display {
    display: block;
  }
  .start__screen__left {
    width: 65%;
    margin: 0 18.05% 105px;
  }
  .start__screen-text {
    margin-bottom: 45px;
  }
  .start__screen-btn {
    margin: 0 auto;
  }
  .start__screen__img {
    width: 80%;
    margin: 0 0 0 20%;
    height: auto;
    vertical-align: bottom;
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
  .about__left {
    order: 2;
    margin-left: 0;
  }
  .about__right {
    order: 1;
    margin: 0 20% 80px;
  }
  .about__text {
    width: 100%;
  }
  .ourFriends__slider {
    flex-wrap: wrap;
  }
  .ourFriends__arrow {
    margin-top: 20px;
  }
  .ourFriends__arrow-left {
    order: 1;
    margin-left: 58px;
  }
  .ourFriends__arrow-right {
    order: 2;
    margin-right: 58px;
  }
  .ourFriends__items-position {
    width: 655px;
    justify-content: space-around;
    margin: 0 auto;
  }
}
@media screen and (max-width: 710px) {
  .menu__item {
    margin-right: 18px;
  }
}
@media screen and (max-width: 670px) {
  .menu {
    display: none;
  }
  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 11px;
    cursor: pointer;
  }
  .menu__icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    border-radius: 10px;
    background-color: #F1CDB3;
  }
  .menu__icon .span__burger1 {
    position: absolute;
    top: 35%;
    left: 0;
    height: 10%;
    width: 100%;
    border-radius: 10px;
    background-color: #F1CDB3;
    transform: scale(1) translate(0, -35%);
  }
  .menu__icon::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 25%;
    height: 10%;
    width: 100%;
    border-radius: 10px;
    background-color: #F1CDB3;
  }
  .start__screen__title {
    width: 100%;
  }
  .about__right {
    margin: 0 13% 80px;
  }
}
@media screen and (max-width: 420px) {
  .start__screen__left {
    width: 75%;
    margin: 0 12.05% 105px;
  }
  .about__right {
    margin: 0 5% 80px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    padding: 0 10px;
  }
  .marginBlockDef {
    padding: 40px 0;
  }
  .defaultTitle {
    font-size: 1.56rem;
  }
  .header__wrapper {
    margin: 0 10px 0 0;
  }
  .start__screen__left {
    width: 100%;
    margin: 0 auto 105px;
    text-align: center;
  }
  .start__screen__title {
    font-size: 1.56rem;
    letter-spacing: 0.06em;
    padding: 0 50px;
  }
  .start__screen__img {
    width: 87%;
    margin: 0 0 0 13%;
  }
  .about__content {
    text-align: center;
  }
  .about__img {
    max-width: 260px;
  }
  .about__right {
    width: 100%;
    margin: 0 0 40px;
  }
  .ourFriends__slider {
    margin: -18px 0 54px 0;
  }
}