html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, sans-serif;
  line-height: 1;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

p {
  width: auto;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.marginBlockDef {
  padding: 80px 0 100px;
}

.defaultTitle {
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.deg {
  transform: rotate(180deg);
}

.footerBlockDef {
  margin-top: 16px;
}

.footerPosDef {
  display: flex;
  align-items: center;
  color: #F1CDB3;
}

.footerStyleDef {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.header {
  padding-top: 29px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-align: center;
  width: 200px;
  height: 60px;
}
.header__title {
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  font-weight: 400;
  color: #F1CDB3;
  margin-bottom: 11px;
}
.header__title_mainPets-color a {
  color: #545454;
}
.header__subtitle {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.1em;
}
.header__subtitle_mainPets-color a {
  color: #292929;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 33px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_mainPets-color {
  color: #545454;
}
.menu__link {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #cdcdcd;
}
.menu__link:hover {
  color: #FAFAFA;
  transition: 0.3s;
}
.menu__link_mainPets-color {
  color: #545454;
}
.menu__link_mainPets-color:hover {
  color: #292929;
  transition: 0.3s;
}

.active {
  position: relative;
  color: #FAFAFA;
}
.active:after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 3px;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.active_mainPets-color {
  color: #292929;
}

.start__screen {
  background: url("../../../img/header__startScreen/background__start.png"), linear-gradient(145deg, rgb(91, 72, 58), rgb(38, 36, 37), rgb(33, 31, 32));
}
.start__screen__content {
  padding-top: 60px;
}
.start__screen-display {
  display: flex;
  align-items: center;
}
.start__screen__left {
  width: 39%;
  margin: -45px 40px 0 7px;
}
.start__screen__title {
  font-size: 2.75rem;
  font-weight: 400;
  width: 85%;
  line-height: 130%;
  margin-bottom: 42px;
  color: #fff;
}
.start__screen-text {
  margin-bottom: 42px;
  font-size: 0.94rem;
  line-height: 160%;
  font-family: "Arial";
  color: #CDCDCD;
}
.start__screen-btn {
  display: block;
  width: 207px;
  padding: 15px 40px;
  border-radius: 100px;
  letter-spacing: 0.06em;
  font-size: 17px;
  text-align: center;
  color: #292929;
  background-color: #F1CDB3;
}
.start__screen-btn:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}
.start__screen__img {
  max-width: 100%;
  height: auto;
  margin-top: 34px;
  vertical-align: bottom;
}

.about__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.about__left {
  margin-left: 167px;
}
.about__img {
  max-width: 100%;
  height: auto;
  background-size: cover;
}
.about__right {
  width: 50%;
  margin-left: 120px;
}
.about__title {
  width: 51%;
}
.about__text {
  font-family: "Arial";
  font-size: 15px;
  color: #4C4C4C;
  width: 71%;
  margin-top: 25px;
  font-weight: 400;
  line-height: 160%;
}

.ourFriends {
  background-color: #F6F6F6;
}
.ourFriends__content {
  text-align: center;
}
.ourFriends__title {
  margin: 0 auto 60px;
}
.ourFriends__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.ourFriends__arrow {
  border: 3px solid #F1CDB3;
  padding: 23px 19px;
  border-radius: 100px;
  cursor: pointer;
}
.ourFriends__arrow:hover {
  background-color: #F1CDB3;
  transition: 0.3s;
}
.ourFriends__item {
  width: 270px;
  border-radius: 9px;
  text-align: center;
  background-color: #FAFAFA;
}
.ourFriends__item:hover {
  background-color: #fff;
  transition: 0.3s;
}
.ourFriends__item:hover .ourFriends__item__btn {
  background-color: #FDDCC4;
  transition: 0.3s;
}
.ourFriends__item:nth-child(3) {
  margin: 0 40px;
}
.ourFriends__item__img {
  max-width: 100%;
  height: auto;
  background-size: cover;
}
.ourFriends__item__title {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 30px 0;
}
.ourFriends__item__btn {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  margin-bottom: 30px;
  background-color: #FAFAFA;
  border: 2px solid #FDDCC4;
  border-radius: 100px;
}
.ourFriends__btn {
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 265px;
  padding: 15px 45px;
  background-color: #F1CDB3;
  color: #292929;
  border-radius: 100px;
}
.ourFriends__btn:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}

.help__title {
  text-align: center;
  margin-bottom: 60px;
}
.help__list {
  display: flex;
  flex-wrap: wrap;
  gap: 51px 120px;
  justify-content: center;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__item__img {
  margin-bottom: 30px;
  background-size: cover;
  max-width: 60px;
}
.help__item__title {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-weight: 400;
}

.inAddition {
  background-color: #F6F6F6;
}
.inAddition__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inAddition__img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  margin-left: -20px;
}
.inAddition__right {
  max-width: 30%;
  margin-left: 30px;
}
.inAddition__subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 20px 0;
}
.inAddition__card {
  display: inline-block;
  background-color: #F1CDB3;
  color: #545454;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  margin-bottom: 20px;
  cursor: pointer;
}
.inAddition__card:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}
.inAddition__card__content {
  display: flex;
  width: 100%;
  padding: 10px 15px;
}
.inAddition__card__num {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-left: 14px;
}
.inAddition__text {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  background: url("../../../img/header__startScreen/background__start.png"), linear-gradient(130deg, rgb(91, 72, 58), rgb(38, 36, 37), rgb(33, 31, 32));
}
.footer__position {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 740px;
  padding: 40px 0 60px;
}
.footer__contacts {
  max-width: 279px;
}
.footer__title {
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #fff;
}
.footer__linkEmail {
  margin: 40px 0;
}
.footer__location {
  max-width: 302px;
}
.footer__map {
  margin: 33px 0;
}
.footer__map:last-child {
  margin-bottom: 0px;
}
.footer__img {
  max-width: 100%;
  max-height: 310px;
  vertical-align: bottom;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .start__screen-display {
    display: block;
  }
  .start__screen__left {
    width: 65%;
    margin: 0 18.05% 105px;
  }
  .start__screen-text {
    margin-bottom: 45px;
  }
  .start__screen-btn {
    margin: 0 auto;
  }
  .start__screen__img {
    width: 80%;
    margin: 0 0 0 20%;
    height: auto;
    vertical-align: bottom;
  }
}